<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Meetings App</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <p id="roomid">roomid</p>
    
    <div id="videoDiv">

      <div id="local">
        <p id="userid">userid</p>
        <video id="localVideo" autoplay muted></video>
        <div>
          <input type="checkbox" id="muteLocalAudio" onclick="muteLocalAudio(this)">
          <label for="muteLocalAudio">muteLocalAudio</label>
        </div>
        <div>
          <input type="checkbox" id="muteLocalVideo" onclick="muteLocalVideo(this)">
          <label for="muteLocalVideo">muteLocalVideo</label>
        </div>
        <div>
          <input type="button" id="endMeeting" onclick="endMeeting()" value="endMeeting">
        </div>
      </div>
     
      <!-- More videos are added here as more people join the meeting! -->
    </div>    

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="/js/main.js" charset="utf-8"></script>
    <script src="/js/utilities.js" charset="utf-8"></script>

  </body>
</html>